# Python
__pycache__/
*.py[cod]
*$py.class
*.db
*.sqlite3
.Python

# Virtual Environment
venv/
.venv/
env/
venv/
pyvenv.cfg

# Tests
.coverage
.htmlcov/

# IDEs
.idea/
.vscode/
*.tmux*
*.sublime-project
*.sublime-workspace
.env

# OS Junk
.DS_Store
Thumbs.db
*.log
